<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
    <div class="dropdown">
        
        <h1>Menu</h1>
        <div class="menu-items">
       <ul class="nav">
        <li class="page"><a class="page" href="home.html">Home</a></li>
        <li class="page"><a class="page" href="timer.html">Racing</a></li>
        <li class="page"><a class="page" href="about.html">About Us</a></li>
       </ul>
    </div>
</div>
    </body>
</html>