
.page li {

    float: left;
}
.dropdown {
    position:fixed;
}
h1 {
    font-size:30px;
    padding:0;
    margin:0;
    top:0;
    font-family:Arial, Helvetica, sans-serif;
}
.menu-items {
    display: none;
    position: absolute;
    background-color: #4B3Fd6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown:hover .menu-items {
    display: block;
  }
.page a {
    background-color: #4B3FD6;
    display: block;
    padding: 14px;
    font-size: large;
    list-style-type:none;
    text-decoration: none;
    color: rgb(222, 212, 236);
    font-family: Arial, Helvetica, sans-serif;
}

.page li :hover{
background-color: #3b2fbe;
}
.nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    top: 0;
    left:0;
}
.active {
    background-color: #3b2fbe;
}