<!DOCTYPE html>
<html>
<head>
<script>
    let sec = 0;
    let min = 0;
    let hour = 0;
    let isStarted = false;
    function startStopClicked() {
        if (isStarted == false) {
            isStarted = true;
            document.getElementById("startbutton").innerHTML = "Stop";
        } else {
            isStarted = false;
            document.getElementById("startbutton").innerHTML = "Start";
        }
        updateTime()
    }
    function updateTime() {
        if (isStarted == false) {
            return;
        }
        sec++;
        if (sec == 60) {
            min++;
            document.getElementById("minutes").innerHTML = min;
            sec = 0;
            if (min == 60) {
                hour++;
                document.getElementById("hours").innerHTML = hour;
                min = 0;
                document.getElementById("minutes").innerHTML = min;
            }
        }
        document.getElementById("seconds").innerHTML = sec;
        setTimeout(updateTime, 950)
    }
</script>
<link rel="stylesheet" href="timerindex.css">
</head>
<body>
    <h1 class="inline" id="hours">0</h1>
    <p class="inline">   </p>
    <h1 class="inline" id="minutes">0</h1>
    <p class="inline">   </p>
    <h1 class="inline" id="seconds">0</h1>
    <button id="startbutton" onclick="startStopClicked()">Start</button>
</body>
</html>
